/* universal selector */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */

.header-row{
    height: 80px;
    padding: 0px 32px;
    margin: 0px 91.5px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
}

.fiverr-logo{
    display: flex;
}


.fiverr-logo a img{
    margin: 5px;
    /* padding: 20px; */
    width: 89px;
    height: 27px;
    margin: 4px 32px 0px 0px;
}

.header-search-services .input-search{
    padding: 10px 2px 10px 16px;
    width: 290px;
    height: 42px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 600; */
    border: 1px solid #c5c6c9;
    color: #62646a;
    position: relative;
}

.header-search-services .search-button{
    padding: 10px 16px;
    /* width: 50px; */
    height: 42px;
    border-radius: 0px 4px 4px 0px;
    position: absolute;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 600; */
    background-color: #1dbf73;
    border: 1px solid #c5c6c9;
    color: #fff;
}

.header-menu{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    
}
.header-menu-list{
    display: flex;
    list-style: none;
    gap: 24px;
    
}


.header-menu-list li a {
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 4px;
    /* margin-bottom: 4px; */
}

.header-menu-list li a:hover{
    border-bottom: 4px solid #1dbf73;
}

.header-menu-list li a span{
    /* margin-right: 2px; */
    padding: 0px 8px 0px 0px;
}
.join-button {
    padding: 10px 16px;
    text-decoration: none;
    /* background-color: aqua; */
    border: 1px solid #1dbf73;
    color: #222222;
    font-size: 14px;
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 5px;                            
}

.join-button:hover{
    background-color: #1dbf73;
}

/* news */

/* container &wrapper */

.container{
    margin: 0px 30px;
    padding: 60px 0px;
    max-width: 100%;
}

.wrapper{
    margin: 0px 241px;
    /* width: 100%; */
    }

    .fl-wrapper{
        display: flex;
        justify-content: space-between;
    }
    
    .article-wrapper a img{
        width: 300px;
        height: 200px;
    }
    
    .fl-article{
        max-width: 300px;
    }
    
    .ar-h{
        margin: 20px 0px 8px;
    }
    
    .ar-h a{
        color: #1dbf73;
        text-decoration: none;
        font-size: 11.5;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    
    
    
    .ar-desc a{
        margin: 0px 0px 10px;
        font-size: 20px;
        color: #404145;
        text-decoration: none;
    }
    
    .ar-desc a h5{
        margin: 0px 0px 10px;
        font-size: 20px;
        /* color: #404145; */
        /* text-decoration: none; */
    }
    
    .ar-phr{
        font-size: 18px;
        color: #7a7d85;
    }
    
    .n-ttl{
        font-size: 29px;
        margin: 0px 0px 20px;
    }

    .f-wrapper{
        margin: 0px 241px;
        /* width: 100%; */
        padding: 0px 0px 0px 60px;
        }
    
    .f-tips{
        display: flex;
        height: 420px;
        width: 840px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
        margin: 0px 0px 80px;
        background-color: #fff;
        box-shadow: 0 40px 50px 14px #74767e;
        /* object-fit: contain; */
    }
    
    .f-tips img{
        width: 420px;
        height: 420px;
        object-fit: cover;
    }
    
    .fr-article{
        /* margin: 30px 0px 20px 60px ; */
        padding: 100px 60px 20px;
        /* width: 420px;
        height: 420px; */
        width: 50%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        /* align-items: center; */
        /* max-width: 200px; */
    }

    .e-c-m a{
        text-decoration: none;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1dbf73;
        
    }
    
    .e-c-m{
        margin: 20px 0px 16px;
    }
    .ecm-title a{
        text-decoration: none;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
    
    .ecm-bottom{
        display: flex;
        gap: 5px;
    }

    /* dfgyhhdg */

    
.container{
    margin: 0px 30px;
    padding: 60px 0px;
    max-width: 100%;
}

.wrapper{
    margin: 0px 241px;
    /* width: 100%; */
    }
    
.fb-cnt{
    position: relative;
}
.fb-cnt img{
    /* width: 840px;
    height: 420px; */
    max-width: 100%;
    /* z-index: -1; */
    padding-bottom: 30px;
}

.fb-cnt-text{
    position: absolute;
    /* max-width: 100%; */
    /* z-index: -1; */
    top: 50px;
    max-width: 400px;
    padding: 20px 0px 15px 30px;
}

.fb-btn{
    margin: 40px 0px;
}

.fb-cnt-text .fb-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: #1dbf73;
    padding: 8px 12px;
    border-radius: 4px;
    
}

#fb-bt{
    font-size: 18px;
    color: #fff; 
    /* font-weight: 600; */
}

.ln-more{
    text-align: center;
}

.lmore a{
    text-decoration: none;
    color: #222222;
    padding: 12px 24px;
    /* margin: 40px 0px; */
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0px 6px 40px 4px #c5c6c9;
}

/* footer section */

.footer-container{
    border-top: 1px solid #e4e5e7;
    background-color: #fff;
}

.footer-wrapper{
    margin: 0px 53px;
    padding: 64px 32px 24px;
}

.footer-grid{
    margin-bottom: 8px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.ft-grids{
    padding: 0px 16px;
}

.ft-grids h6{
    font-size: 16px;
    color: #404145;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 20px;
}

.ft-grids ul{
    list-style: none;
}

.ft-grids ul li{
    padding: 0px 0px 16px;
}

.ft-grids ul li a{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #74767e;
}

.footer-bottom-ct{
    border-top: 1px solid #e4e5e7;
}

.footer-bottom{
    display: flex;
    padding: 16px 0px 0px;
    justify-content: space-between;
}

.footer-bottom-left{
    display: flex;
}

.footer-bottom-left img{
    width: 77px;
    height: 23px;
}

.footer-bottom-left p{
    margin: 7px 0px 0px 24px;
    color: #b5b6ba;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-bottom-right{
    display: flex;
    /* justify-content: space-between; */
}

.social-span{
    padding: 0px 32px 0px 0px;
}

.social-span span{
    padding: 0px 32px 0px 0px;
    /* height: 24px;
    width: 24px; */
}

/* .social-span span a {
    color: #74767e;
    padding: 0px 32px 0px 0px;
    height: 24px;
    width: 24px;
} */
.ft-lang{
    padding: 5px 0px 0px 0px;
}

.ft-lang span{
    padding: 8px 12px;
    font-size: 14px;
    color: #74767e;

}

.ft-lang span a{
    /* padding: 8px 12px; */
    font-size: 14px;
    font-weight: 700;
    color: #74767e;
    font-family: Arial, Helvetica, sans-serif;
    
}

#body-img{
    height: 31px;
    width: 31px;
    /* padding: 12px; */
}